p {
  color: red;
  background-color: #999;
  margin-right: 10cm;
  margin-left: 10cm;
  text-align: center;
}
h1{
  color: blue;
  margin-right: 10cm;
  margin-left: 10cm;
  text-align: center;
}
h2{
  color: purple;
  background-color: yellow;
  margin-right: 10cm;
  margin-left: 10cm;
  text-align: center;
}
.color-box1{
  display: block;
  width: 100px;
  height: 100px;
  margin: 2px;
  background-color: #FFFF00;
}
.color-box2{
  display: block;
  width: 100px;
  height: 100px;
  margin: 2px;
  background-color: #000000;
}
